* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  background-size: cover;
  height: 100vh;
}
.show-hide-cards-container {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.show-hide-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 200px;
  margin-left: 32px;
  margin-right: 32px;
}
.heading {
  font-family: 'roboto';
  color: white;
  font-size: 40px;
}
.show-hide-button {
  font-family: 'roboto';
  font-size: 14px;
  border-radius: 5px;
  padding: 10px;
  border-width: 0px;
  color: #dd1264;
}
.name {
  font-family: 'roboto';
  font-weight: 500;
  font-size: 20px;
  background-color: #fddddb;
  border-radius: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
